<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Таблица многоквартирных домов</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #FF69B4;
        }
    </style>
</head>
<body>
<h2>Информация о многоквартирных домах</h2>
<table>
    <thead>
    <tr>
        <th>Адрес</th>
        <th>Количество этажей</th>
        <th>Количество квартир</th>
        <th>Год постройки</th>
        <th>Площадь участка (кв. м)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Ленинская 9</td>
        <td>10</td>
        <td>40</td>
        <td>1995</td>
        <td>1000.0</td>
    </tr>
    <tr>
        <td>Октябрьская 8д</td>
        <td>12</td>
        <td>50</td>
        <td>2000</td>
        <td>1200.0</td>
    </tr>
    <tr>
        <td>Пушкинская 21а</td>
        <td>8</td>
        <td>30</td>
        <td>1990</td>
        <td>900.0</td>
    </tr>
    <tr>
        <td>Быховская 2а</td>
        <td>20</td>
        <td>100</td>
        <td>2010</td>
        <td>1500.0</td>
    </tr>
    <tr>
        <td>Могилевская 8б</td>
        <td>15</td>
        <td>75</td>
        <td>2005</td>
        <td>1100.0</td>
    </tr>
    </tbody>
</table>
</body>
</html>
