<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    </title>
</head>
<body>
<form action="/" method="post">
<center><input  name="email" type="email"  placeholder="Введите email"></center><br>
<center><input type="password"name="password" placeholder="Введите пароль"></center><br>
<center><button type="submit" style="background: #FF69B4">Войти</center>
</form>
<center> <a href="/registr" type="submit"  style="color: #FF69B4">Зарегистрироваться</a></center>

</body>
</html>