<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    </title>
</head>
<body>
<form action="/registr" method="post">
    <center><div><input type="email" name="email" placeholder="Введите email"></div></center>
    <br>
    <center><div> <input type="text"  name="name" placeholder="Введите имя"></div></center>
    <br>
    <center><div><input type="password" name="password" placeholder="Введите password"></div></center>
    <br>
    <center>
        <button type="submit" style="background: #FF69B4">Зарегистрироваться
    </center>
</form>
</body>
</html>